# compiled output
/dist
/node_modules

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# tsc
*.tsbuildinfo

tsconfig.tsbuildinfo

tsconfig.build.json

